.transactionTable {
  width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

.title {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  border: 2px solid #eaeaea;
}

.item {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.tableHead {
  background-color: #00bcd4;
  text-transform: uppercase;
  color: #fff;
}

.tableItem {
  background-color: #fff;
  text-transform: capitalize;
}

.tableItem:nth-child(odd) {
  background-color: #ecf2f3;
}
